<div class="contactPage">

  <div class="contactInfoBox">
    <div class="infoBox">
      <h2>Abrimos todos los días de 12:00 a 23:00. <br>Consulta Google Maps para obtener información detallada.</h2>
    </div>

    <form class="form" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="formBox">
          <div class="contactoFormLeft">
            <div class="form-group">
              <h1>¿Cómo podemos ayudarte?</h1>
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" [(ngModel)]="contact.name" required minlength="5">
              <div class="error-message" *ngIf="contactForm.form.get('name')?.invalid && contactForm.form.get('name')?.dirty || contactForm.form.get('name')?.touched">
                <p class="error" *ngIf="contactForm.form.get('name')?.errors?.['required']">
                  Mandatory Field
                </p>
                <p class="error" *ngIf="contactForm.form.get('name')?.errors?.['minlength']">
                  The length of name should be at least 5 characters
                </p>
              </div>
            </div>
            <div class="form-group">
              <label for="phoneNumber">Phone number</label>
              <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" minlength="9" maxlength="12" placeholder="Your phone number" required [(ngModel)]="contact.phoneNumber">
              <p class="error" *ngIf="contactForm.form.get('phoneNumber')?.errors?.['minlength']">Phone number should contain at least 9 numbers</p>
            </div>
            <div class="form-group">
              <label for="date">Reservation Date:</label>
              <input type="date" class="form-control" id="date" name="date" required [(ngModel)]="contact.date" #date="ngModel">
              <p class="error" *ngIf="date.errors?.['required']">Please select a valid date</p>
            </div>
          </div>
          <div class="contactoFormRight">
            <div class="form-group">
              <label for="email">E-mail address:</label>
              <input type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="your-name@provider.com"
              required
              maxlength = "250"
              pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
              [(ngModel)]="contact.email">
            <p *ngIf="contactForm.form.get('email')?.errors?.['pattern']">Please use the correct format email@email.com</p>
            </div>

            <div class="form-group ">
              <label for="description">Description:</label>
              <textarea type="textarea"
              class="form-control textarea"
              id="description"
              name="description"
              rows="5"
              cols="33"
              [(ngModel)]="contact.description"></textarea>
            </div>
            <div class="form-group__submit">
              <button mat-raised-button type="submit" [disabled]="!contactForm.form.valid">Submit</button>
            </div>
          </div>
        </div>
      </form>

  </div>

  <div class="mapBox">
    <iframe src="https://www.google.com/maps/d/embed?mid=1TYGjQVCpaKqPQvHdIQEVIbFGtnov3Yo&ehbc=2E312F" width="50%" height="480"></iframe>
    <!-- <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1jnZk9H8Xv7d7AMgI2fw2DrZfjWcwQSM&ehbc=2E312F" width="100%" height="600px"></iframe> -->
  </div>

</div>


