//Contender de Menu
.menu {
  margin-top: 50px;
  display: flex;
  justify-content: center;

  &-container {
    width:900pt;
    display:flex;
    flex-direction: column;
    align-items: center;
  }
}

//Contenedor de tarjeta
.card-container{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items:center;

  &__card-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

//Tarjeta
.card{
  margin-top: 30px;
  border-radius: 20pt;
  display: flex;
  align-items: center;

  &-img-top{
    border-top-left-radius: 20pt;
    border-top-right-radius: 20pt;
  }

  &-body{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
}


//Título de la carta
.menu-header{
  font-size: 30pt;
}


//Botones de la carta
.menu-buttons{
  height: 100pt;
  width:200pt;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}

//Botón "Cerrar"
.close-buttons {
  min-height: 70pt;
  display: flex;
  align-items: center
}

//Botones de CRUD en la tarjeta
.action{
  &-container{
    display:flex;
  }
  &-button{
    width:30pt;
  }
}


