.header-principal {
  height: 100px; /* Agregar una altura fija al header */
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  width: 100px;
  height: 100%; /* Ajustar la altura del contenedor al 100% del header */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.logo {
  max-width: 100%;
  max-height: 100%;
}
