<mat-toolbar class="header-principal">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon >more_vert</mat-icon>
  </button>

<div class="container-logo">
  <img src="assets/images/digini_logo.png" alt="logo digini" class="logo"/>
</div>
  <!-- <span class="example-spacer"></span> -->


  <button mat-icon-button class="example-iconFavorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>

</mat-toolbar>
