.header-principal {
  display: flex;
  justify-content: center; /* centrar horizontalmente */
  align-items: center; /* centrar verticalmente */
  width: 100%;
  height: 100px;
}

.container-logo {
  max-width: 50%; /* ajustar el ancho máximo del contenedor */
}

.logo {
  max-width: 290px; /* ajustar el ancho máximo del logo */
  height: auto; /* ajustar la altura automáticamente */
}
