.header-principal {
  height: 90px;
}

.logo-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* agregar justify-content con el valor center */
  align-items: center;
}

.container-logo {
  max-width: 50%; /* ajustar el ancho máximo del contenedor */
}

.logo {
  max-width: 290px; /* ajustar el ancho máximo del logo */
  height: auto; /* ajustar la altura automáticamente */
}
