<div class="edit-user-page">

  <button class="btn btn-dark" routerLink="../">
    Atrás
  </button>

  <form  (ngSubmit)="creatingProduct()" [formGroup]="createForm">
      <h2>Crear Producto</h2>


      <div class="form-floating mb-3">
        <input type="text" class="form-control" formControlName="name"  required id="floatingInput1">
        <label for="floatingInput">Nombre</label>
      </div>
      <div class="form-floating mb-3">
        <input type="number" class="form-control" formControlName="price" required id="floatingInput2">
        <label for="floatingInput">Precio</label>
      </div>

      <div class="form-floating mb-3">
        <select id="disabledSelect" class="form-select" formControlName="category" >
          <option selected></option>
          <option>pizzas</option>
          <option>bebidas</option>
        </select>
        <label for="disabledSelect" class="form-label">Categoría</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" formControlName="ingredients">
        <label for="floatingInput">Ingredites</label>
      </div>

      <div class="form-floating mb-3" >
        <select id="disabledSelect" class="form-select" formControlName="vegetarian" >
          <option>true</option>
          <option>false</option>
        </select>
        <label for="disabledSelect" class="form-label">Vegetariano</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" formControlName="image">
        <label for="floatingInput">Imagen</label>
      </div>


      <div class="form-floating mb-3">
        <select id="disabledSelect" class="form-select" formControlName="restaurant" >
          <option selected></option>
          <option>pizza</option>
          <option>sushi</option>
          <option>brunch</option>
        </select>
        <label for="disabledSelect" class="form-label">Restaurante</label>
      </div>


      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="submit" class="btn btn-warning">Crear producto</button>
        <button class="btn btn-dark" routerLink="../">
          Cancelar
        </button>
      </div>
  </form>

</div>
