<div class="modal fade"  id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true"
 data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Crear Producto</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          routerLink="/restaurant-pizza"
          >
        </button>
      </div>
      <div class="modal-body" >

      <app-create-product></app-create-product>

      </div>

    </div>
  </div>
</div>
