<div class="all-user-page">
  <h1 class="mt-3">Usuarios del grupo DiGiNi</h1>
  <div class="buttons-top">
    <button (click)="this.authService.userProfile()" class="btn btn-dark top-buttons">Atrás</button>
    <button role="button" routerLinkActive="active" routerLink="/register-user/" type="button" class="btn btn-success top-buttons">
      Crear usuario
    </button>
  </div>
  <div class="input-group mb-3 search-bar">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
    </div>
    <input type="text" class="form-control" placeholder="Busca un usuario" aria-label="Username" aria-describedby="basic-addon1">
    <div class="input-group-append">
      <button class="input-group-text btn-dark">Buscar</button>
    </div>
  </div>

  <div class="filters">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
      <label class="form-check-label" for="inlineRadio1">Todos los usuarios</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
      <label class="form-check-label" for="inlineRadio2">La Pizzetta</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option2">
      <label class="form-check-label" for="inlineRadio3">Sushi Saki</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option2">
      <label class="form-check-label" for="inlineRadio4">Brunch & Munch</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option2">
      <label class="form-check-label" for="inlineRadio5">Equipo de restaruración</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="option2">
      <label class="form-check-label" for="inlineRadio6">Equipo de marketing</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio7" value="option2">
      <label class="form-check-label" for="inlineRadio7">Equipo de administración</label>
    </div>
  </div>

  <ul class="users-list">
    <li *ngFor="let user of usersList; let i = index">
      <div class="user-card">
        <div class="card-tittle">
          <h2>{{user.name}}</h2>
          <h3 class="ms-1">{{user.lastName}}</h3>
        </div>
        <h5>{{user.role}}</h5>
        <div class="dropdown-center">
          <button class="btn btn-dark dropdown-toggle more-info-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Más información
          </button>
          <ul class="dropdown-menu dropdown-menu-dark px-2">
            <small>ID del usuario:</small>
            <p>{{user._id}}</p>
            <small>Cumpleaños:</small>
            <p>{{user.age | date:'dd/MM'}}</p>
            <small>Email:</small>
            <p>{{user.email}}</p>
            <small>Fecha de inicio:</small>
            <p>{{user.startDate | date:'dd/MM/yyyy'}}</p>
            <small>Lugar y puesto de trabajo:</small>
            <p class="my-1" [hidden]="user.workplace !== 'pizzeria'">La Pizzeta</p>
            <p class="my-1" [hidden]="user.workplace !== 'sushi'">Sushi Saki</p>
            <p class="my-1" [hidden]="user.workplace !== 'brunch'">Brunch & Munch</p>
            <p class="my-1" [hidden]="user.workplace !== 'office'">Oficinas centrales</p>
            <p class="my-1" [hidden]="user.role !== 'waiter'">Equipo de restauración</p>
            <p class="my-1" [hidden]="user.role !== 'marketing'">Equipo de marketing</p>
            <p class="my-1" [hidden]="user.role !== 'admin'">Equipo de Administración</p>
          </ul>
        </div>
        <div class="dropdown-center">
          <button class="btn btn-warning dropdown-toggle more-info-btn my-1" type="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="getThisUser(user)">
            Editar usuario
          </button>
          <ul class="dropdown-menu dropdown-menu-dark px-2">
            <app-edit-this-user [user]="user"></app-edit-this-user>
          </ul>
        </div>

        <div class="dropdown-center">
          <button class="btn btn-danger dropdown-toggle more-info-btn mb-3" type="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="getThisUser(user)">
            Eliminar usuario
          </button>
          <ul class="dropdown-menu dropdown-menu-dark px-2">
            <app-delete-this-user [user]="thisUser"></app-delete-this-user>
          </ul>
        </div>

      </div>
    </li>
  </ul>
</div>
