<div class="modal fade"  id="viewDetailsModal" tabindex="-1" aria-labelledby="viewDetailsModalLabel" aria-hidden="true"
 data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{this.item.name}}</h1>
        <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        routerLink="./"></button>
      </div>

      <div class="modal-body" >

        <div class="image-container">
          <img class="image" [src]="this.item.image">
        </div>

        <div class="text-container">
          <div class="text-container__ingredients">
            <p class="text-container__item fs-5">Ingredientes:</p>
            <p class="text-container__item fs-6">{{this.item.ingredients}}</p>
          </div>

          <div class="text-container__intolerancies" *ngIf="this.item.vegetarian && this.item.category != 'drinks'">
            <p class="text-container__item fs-5">Mas información</p>
            <img class="action-icon"
            src="assets/images/pizza-menu-icons/vegetarian-svgrepo-com.svg">
            <p>Vegetariano</p>
          </div>

        </div>



      </div>


    </div>
  </div>
</div>
