<div class="signin-page">
  <form class="form-signin" [formGroup]="signinForm" (ngSubmit)="loginUser()">
      <h2>Formulario de inicio de sesión</h2>
      <div class="form-floating mb-3">
        <label for="floatingInput">Correo electrónico</label>
        <input type="email" class="form-control" formControlName="email" placeholder="nombre@email.com" id="floatingInput" required>
      </div>
      <div class="form-floating mb-3">
          <label>Contraseña</label>
          <input type="password" class="form-control" formControlName="password" placeholder="Introduce tu contraseña">
      </div>
      <button type="submit" class="btn btn-success">
        Sign in
      </button>
      <div
        [hidden]="signinForm.valid || signinForm.pristine"
        class="alert alert-danger"
      >
        Oh oh... algo no cuadra. Revisa tu correo y contraseña.
      </div>
  </form>
</div>
