<div class="delete-user-page">
  <form [formGroup]="deleteForm" (ngSubmit)="deletingUser(this.deleteForm.value._id)">
      <h2>Formulario para eliminar usuarios</h2>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" formControlName="_id" placeholder="Id del usuario" required id="floatingInput">
        <label for="floatingInput">ID del usuario</label>
      </div>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="submit" class="btn btn-warning">Eliminar usuario</button>
      </div>
  </form>

</div>
