<div class="all-product-page">

  <h1 class="mt-3">Productos del grupo DiGiNi</h1>

  <div class="buttons-top">
    <button (click)="this.authService.userProfile()" class="btn btn-dark top-buttons">Atrás</button>
    <button type="button" class="btn btn-success top-buttons" data-bs-toggle="modal" data-bs-target="#createModal">
      Crear producto
    </button>
    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Estás creando un producto</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <app-create-product></app-create-product>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="input-group mb-3 search-bar">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
    </div>
    <input type="text" class="form-control" placeholder="Busca un producto" aria-label="Username" aria-describedby="basic-addon1" (keyup)="getInputValue($event)">
    <div class="input-group-append">
      <button class="input-group-text btn-dark" (click)="searchProduct()">Buscar</button>
    </div>
  </div>

  <div class="filters">
    <div class="form-check form-check-inline" (click)="getProducts()">
      <input class="form-check-input" type="radio" name="radioFilter" id="inlineRadio1" value="option1">
      <label class="form-check-label" for="inlineRadio1">Todos los productos</label>
    </div>
    <div class="form-check form-check-inline" (click)="getPizzeria()">
      <input class="form-check-input" type="radio" name="radioFilter" id="inlineRadio2" value="option2">
      <label class="form-check-label" for="inlineRadio2">La Pizzetta</label>
    </div>
    <div class="form-check form-check-inline" (click)="getSushi()">
      <input class="form-check-input" type="radio" name="radioFilter" id="inlineRadio3" value="option3">
      <label class="form-check-label" for="inlineRadio3">Sushi Saki</label>
    </div>
    <div class="form-check form-check-inline" (click)="getBrunch()">
      <input class="form-check-input" type="radio" name="radioFilter" id="inlineRadio4" value="option4">
      <label class="form-check-label" for="inlineRadio4">Brunch & Munch</label>
    </div>
    <div class="form-check form-check-inline" (click)="getInAllRestaurants()">
      <input class="form-check-input" type="radio" name="radioFilter" id="inlineRadio5" value="option5">
      <label class="form-check-label" for="inlineRadio5">En todos los restaurantes</label>
    </div>
    <div class="form-check form-check-inline" (click)="getPlates()">
      <input class="form-check-input" type="radio" name="radioFilter" id="inlineRadio6" value="option6">
      <label class="form-check-label" for="inlineRadio6">Platos</label>
    </div>
    <div class="form-check form-check-inline" (click)="getDrinks()">
      <input class="form-check-input" type="radio" name="radioFilter" id="inlineRadio7" value="option7">
      <label class="form-check-label" for="inlineRadio7">Bebidas</label>
    </div>
  </div>

  <ul class="product-list">
    <li *ngFor="let product of filteredList;">
      <div class="product-card">
        <div class="image-box">
          <img [src]="product.image" class="product-image" alt="...">
        </div>

        <div class="info-box">
          <div class="product-info">
            <h2 class="mb-0">{{product.name}}</h2>
            <div class="restaurantPrice">
              <h5 class="mb-2" [hidden]="this.product.restaurant !== ''">Todos los restaurantes</h5>
              <h5 class="mb-2" [hidden]="this.product.restaurant !== 'pizzeria'">Restaurante La Pizzetta</h5>
              <h5 class="mb-2" [hidden]="this.product.restaurant !== 'sushi'">Restaurante Sushi Saki</h5>
              <h5 class="mb-2" [hidden]="this.product.restaurant !== 'brunch'">Restaurante Brunch & Munch</h5>
              <h5 class="mx-3 mb-2">{{this.product.price}} €</h5>
            </div>
          </div>
          <!-- Buttons -->
          <button type="button" class="btn btn-dark more-info-btn my-1" data-bs-toggle="modal" data-bs-target="#infoModal" (click)="getThisProduct(product)">
            <i class="bi bi-info-square"></i> Más información
          </button>
          <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Información de {{this.thisProduct.name}}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <small>ID del producto:</small>
                  <p>{{this.thisProduct._id}}</p>
                  <small>Nombre del producto:</small>
                  <p>{{this.thisProduct.name}}</p>
                  <small>Precio:</small>
                  <p>{{this.thisProduct.price}} €</p>
                  <small>Ingredientes:</small>
                  <p>{{this.thisProduct.ingredients}}</p>
                  <small>Imagen:</small>
                  <p>{{this.thisProduct.image}}</p>
                  <small>Categoría:</small>
                  <p class="my-1" [hidden]="this.thisProduct.category !== 'plates'">Platos de comida</p>
                  <p class="my-1" [hidden]="this.thisProduct.category !== 'drinks'">Bebidas</p>
                  <small>Restaurante:</small>
                  <p class="my-1" [hidden]="this.thisProduct.restaurant !== ''">Todos los restaurantes</p>
                  <p class="my-1" [hidden]="this.thisProduct.restaurant !== 'brunch'">Brunch & Munch</p>
                  <p class="my-1" [hidden]="this.thisProduct.restaurant !== 'sushi'">Sushi Saki</p>
                  <p class="my-1" [hidden]="this.thisProduct.restaurant !== 'pizzeria'">La Pizzetta</p>
                </div>
              </div>
            </div>
          </div>

          <button type="button" class="btn btn-warning more-info-btn my-1" data-bs-toggle="modal" data-bs-target="#editModal" (click)="getThisProduct(product)">
            <i class="bi bi-pencil-square"></i> Editar
          </button>
          <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Estás editando a {{this.thisProduct.name}}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <app-edit-this-product [product]="thisProduct"></app-edit-this-product>
                </div>
              </div>
            </div>
          </div>

          <button type="button" class="btn btn-danger more-info-btn" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="getThisProduct(product)">
            <i class="bi bi-trash3"></i> Eliminar producto
          </button>
          <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Estás a punto de eliminar el producto {{this.thisProduct.name}}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <h1>¿Seguro que quieres eliminar el producto {{this.thisProduct.name}}?</h1>
                  <h3>Estos cambios son irreversibles</h3>
                  <app-delete-this-product [product]="thisProduct"></app-delete-this-product>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </li>
  </ul>
</div>
