<div class="all-product-page">

  <h1 class="mt-3">Productos del grupo DiGiNi</h1>

  <div class="buttons-top">
    <button (click)="this.authService.userProfile()" class="btn btn-dark top-buttons">Atrás</button>
    <button type="button" class="btn btn-success top-buttons" data-bs-toggle="modal" data-bs-target="#createModal">
      Crear producto
    </button>
    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Crear usuario</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <app-create-product></app-create-product>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="input-group mb-3 search-bar">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
    </div>
    <input type="text" class="form-control" placeholder="Busca un producto" aria-label="Username" aria-describedby="basic-addon1" (keyup)="getInputValue($event)">
    <div class="input-group-append">
      <button class="input-group-text btn-dark" (click)="searchProduct()">Buscar</button>
    </div>
  </div>

  <div class="filters">
    <div class="form-check form-check-inline" (click)="getProducts()">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
      <label class="form-check-label" for="inlineRadio1">Todos los productos</label>
    </div>
    <div class="form-check form-check-inline" (click)="getPizzeria()">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
      <label class="form-check-label" for="inlineRadio2">La Pizzetta</label>
    </div>
    <div class="form-check form-check-inline" (click)="getSushi()">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option2">
      <label class="form-check-label" for="inlineRadio3">Sushi Saki</label>
    </div>
    <div class="form-check form-check-inline" (click)="getBrunch()">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option2">
      <label class="form-check-label" for="inlineRadio4">Brunch & Munch</label>
    </div>
    <div class="form-check form-check-inline" (click)="getPlates()">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option2">
      <label class="form-check-label" for="inlineRadio5">Platos</label>
    </div>
    <div class="form-check form-check-inline" (click)="getDrinks()">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="option2">
      <label class="form-check-label" for="inlineRadio6">Bebidas</label>
    </div>
  </div>

  <ul class="product-list">
    <li *ngFor="let product of productsList;">
      <div class="product-card" >
        <img [src]="product.image" class="product-image" alt="...">
        <div class="product-info">
          <h2>{{product.name}}</h2>
          <div class="dropdown-center">
            <button class="btn btn-dark dropdown-toggle more-info-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Más información
            </button>
            <ul class="dropdown-menu dropdown-menu-dark px-2">
              <small>ID del producto:</small>
              <p>{{product._id}}</p>
              <small>Nombre del producto:</small>
              <p>{{product.name}}</p>
              <small>Precio:</small>
              <p>{{product.price}} €</p>
              <small>Ingredientes:</small>
              <p>{{product.ingredients}}</p>
              <small>Imagen:</small>
              <p>{{product.image}}</p>
              <small>Categoría y restaurante:</small>
              <p class="my-1" [hidden]="product.category !== 'platos'">Platos de comida</p>
              <p class="my-1" [hidden]="product.category !== 'bebidas'">Bebidas</p>
              <p class="my-1" [hidden]="product.restaurant !== 'brunch'">Brunch & Munch</p>
              <p class="my-1" [hidden]="product.restaurant !== 'sushi'">Sushi Saki</p>
              <p class="my-1" [hidden]="product.restaurant !== 'pizzeria'">La Pizzetta</p>
            </ul>
          </div>

          <div class="crud-icons">
            <div class="dropdown-center">
              <button class="btn btn-warning dropdown-toggle more-info-btn my-1" type="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="getThisProduct(product)">
                <i class="bi bi-pencil-square"></i> Editar
              </button>
              <ul class="dropdown-menu dropdown-menu-dark px-2">
                <app-edit-this-product [product]="product"></app-edit-this-product>
              </ul>
            </div>
            <!-- <button type="button" class="btn btn-warning more-info-btn my-1" data-bs-toggle="modal" data-bs-target="#editModal" (click)="getThisProduct(product)">
              <i class="bi bi-pencil-square"></i> Editar
            </button>
            <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Estás editando a {{this.thisProduct.name}}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <app-edit-this-product [product]="thisProduct"></app-edit-this-product>
                  </div>
                </div>
              </div>
            </div> -->

            <div class="dropdown-center">
              <button class="btn btn-danger dropdown-toggle more-info-btn mb-3" type="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="getThisProduct(product)">
                <i class="bi bi-trash3"></i> Eliminar
              </button>
              <ul class="dropdown-menu dropdown-menu-dark px-2">
                <app-delete-this-product [product]="product"></app-delete-this-product>
              </ul>
            </div>
            <!-- <div>
              <button type="button" class="btn btn-danger more-info-btn" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="getThisProduct(product)">
                <i class="bi bi-trash3"></i> Eliminar
              </button>
              <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar usuario {{this.thisProduct.name}}</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <h1>¿Seguro que quieres eliminar a {{this.thisProduct.name}} {{this.thisProduct.lastName}}?</h1>
                      <h3>Estos cambios son irreversibles</h3>
                      <app-delete-this-product [product]="thisProduct"></app-delete-this-product>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->

          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
