<div class="my-account-page">
<!-- Carta con info del usuario -->
  <div class="user-info card bg-warning">
    <div class="row g-0">

      <div class="col-4">
        <img class="img-fluid rounded-start profile-image" src="https://cdn-icons-png.flaticon.com/512/2102/2102647.png" class="card-img-top" alt="profile-image">
        <!-- CRUD Usuarios -->
        <div [hidden]="this.currentUser.role !== 'waiter'">
          <button type="button" class="btn btn-dark my-2" data-bs-toggle="modal" data-bs-target="#waiterModal">
            Editar mis datos
          </button>
          <div class="modal fade" id="waiterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Estás editando los datos de {{this.currentUser.name}} {{this.currentUser.lastName}}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <app-edit-user></app-edit-user>
                </div>
              </div>
            </div>
          </div>
          <button (click)="logout()" role="button" type="button" class="btn btn-danger">
            Cerrar sesión
          </button>
        </div>
      </div>

      <div class="col-8">
        <div class="card-body">
          <h2 class="card-title">Perfil de {{this.currentUser.name}}</h2>
          <h5 class="card-text mb-0">Nombre y apellidos:</h5>
          <h4 class="card-text mb-1">{{this.currentUser.name}}, {{this.currentUser.lastName}}</h4>
          <h5 class="card-text mb-0">Correo:</h5>
          <h4 class="card-text mb-1">{{this.currentUser.email}}</h4>
          <div class="d-flex flex-row">
            <div class="me-3">
              <h5 class="card-text mb-0">Cumpleaños:</h5>
              <h4 class="card-text mb-1">{{this.currentUser.age | date:'dd/MM'}}</h4>
            </div>
            <div>
              <h5 class="card-text mb-0">Fecha de inicio de trabajo:</h5>
              <h4 class="card-text mb-1">{{this.currentUser.startDate | date:'dd/MM/yyyy'}}</h4>
            </div>
          </div>
          <h5 class="card-text mb-0">Lugar de trabajo:</h5>
          <h4 class="mb-0" [hidden]="this.currentUser.workplace !== 'pizzeria'">La Pizzeta</h4>
          <h4 class="mb-0" [hidden]="this.currentUser.workplace !== 'sushi'">Sushi Saki</h4>
          <h4 class="mb-0" [hidden]="this.currentUser.workplace !== 'brunch'">Brunch & Munch</h4>
          <h4 class="mb-0" [hidden]="this.currentUser.workplace !== 'office'">Oficinas centrales</h4>
          <h5 class="card-text mb-0">Equipo de trabajo:</h5>
          <h4 class="mb-0" [hidden]="this.currentUser.role !== 'waiter'">Equipo de restauración</h4>
          <h4 class="mb-0" [hidden]="this.currentUser.role !== 'marketing'">Equipo de marketing</h4>
          <h4 class="mb-0" [hidden]="this.currentUser.role !== 'admin'">Equipo de Administración</h4>
        </div>
      </div>
    </div>
  </div>
<!-- Caja a la derecha con botones CRUD -->
  <div class="crud-buttons" [hidden]="this.currentUser.role == 'waiter'">
<!-- CRUD Usuarios -->
  <h2>Administración usuarios</h2>
    <div class="btn-group-vertical crud-users" role="group" aria-label="Vertical button group">
      <button (click)="logout()" role="button" type="button" class="btn btn-danger">
        Cerrar sesión
      </button>
      <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#editModal">
        Editar mis datos
      </button>
      <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Estás editando los datos de {{this.currentUser.name}} {{this.currentUser.lastName}}</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <app-edit-user></app-edit-user>
            </div>
          </div>
        </div>
      </div>
      <button [hidden]="this.currentUser.role !== 'admin'" type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#createModal">
        Crear usuario
      </button>
      <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Estás creando un usuario</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <app-create-user></app-create-user>
            </div>
          </div>
        </div>
      </div>
      <button [hidden]="this.currentUser.role !== 'admin'" role="button" routerLinkActive="active" routerLink="/all-user/" type="button" class="btn btn-dark">
        Ver usuarios
      </button>
    </div>
<!-- CRUD Productos -->
    <h2>Administración productos</h2>
    <div class="btn-group-vertical crud-products" role="group" aria-label="Vertical button group">
      <button role="button" routerLinkActive="active" routerLink="/create-product" type="button" class="btn btn-dark">
        Crear producto
      </button>
      <button role="button" routerLinkActive="active" routerLink="/all-product/{{this.currentUser.id}}" type="button" class="btn btn-dark">
        Ver productos
      </button>
    </div>
  </div>

</div>
