.my-account-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: start;
}

.btn {
  width: 100%;
}

.btn-text {
  margin: 0px;
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  color: white;
}

.user-info {
  padding: 5px;
  margin: 20px 0;
  border: none;
  max-width: 540px;
  // display: flex;
  // flex-flow: row wrap;
  // justify-content: start;
  // align-items: center;
}

div.card-body {
  margin: 0 auto;
}

.profile-image {
  max-width: 100px;
}

.crud-buttons {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: start;
  width: 300px;
  margin: 5px;
  h2 {
    margin-top: 15px;
  }

  .crud-users {
    width: 100%;
  }
  .crud-products {
    width: 100%;
  }
}
