.container-principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .card {
    margin: 1%;
    width: 18rem;

    @media screen and (max-width: 768px) {
      flex-basis: 100%;
    }
  }
}