<div class="create-user-page">

  <button
    (click)="this.authService.userProfile()"
    class="btn btn-dark"
  >
    <p class="btn-text">Atrás</p>
  </button>

  <form [formGroup]="createForm" (ngSubmit)="creatingUser()">
      <h2>Formulario para editar usuarios</h2>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" formControlName="name" placeholder="Nombre" required id="floatingInput">
        <label for="floatingInput">Nombre</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" formControlName="lastName" placeholder="Apellidos" required id="floatingInput">
        <label for="floatingInput">Apellidos</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" formControlName="age" placeholder="Año-Mes-Día" required id="floatingInput">
        <label for="floatingInput">Fecha de nacimiento</label>
      </div>
      <div class="form-floating mb-3">
        <input type="email" class="form-control" formControlName="email" placeholder="nombre@email.com" required id="floatingInput">
        <label for="floatingInput">Correo electrónico</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" formControlName="password" placeholder="Mínimo 4 y máximo 8 caracteres" required id="floatingInput">
        <label for="floatingInput">Contraseña</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" formControlName="startDate" placeholder="Año-Mes-Día" required id="floatingInput">
        <label for="floatingInput">Fecha de inicio</label>
      </div>
      <div class="mb-3">
        <label>Lugar de trabajo</label>
        <select class="form-select form-control" formControlName="workplace" aria-label="office" required>
          <option value="pizzeria">Restaurante pizzeria</option>
          <option value="sushi">Restaurante sushi</option>
          <option value="brunch">Restaurante brunch</option>
          <option value="office">Oficina</option>
        </select>
      </div>
      <div class="mb-3">
        <label>Puesto de trabajo</label>
        <select class="form-select form-control" formControlName="role" placeholder="Puesto de trabajo" required>
          <option value="waiter">Equipo de Restauración</option>
          <option value="marketing">Equipo de Marketing</option>
          <option value="admin">Equipo de Administración</option>
        </select>
      </div>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="submit" class="btn btn-warning">Crear usuario</button>
        <button
          (click)="this.authService.userProfile()"
          class="btn btn-dark"
        >
          Cancelar
        </button>
      </div>
  </form>

</div>
