<div class="delete-user-page">
  <h2>Formulario para eliminar usuario</h2>
  <form [formGroup]="deleteForm" (ngSubmit)="deletingUser(this.user._id)">
      <div class="form">
        <label >ID del usuario</label>
        <input type="text" class="form-control" formControlName="_id" placeholder="Id del usuario" required value="{{this.user._id}}">
      </div>
      <div class="btn-group mt-2" role="group" aria-label="Basic example">
        <button type="submit" class="btn btn-warning">Eliminar usuario</button>
      </div>
  </form>
</div>
