<div class="edit-user-page">

  <button class="btn btn-dark" routerLink="../../">
    Atrás
  </button>

  <form  (ngSubmit)="editingProduct(this.product._id)" [formGroup]="editForm" >
      <h2>Editar {{this.product.name}}</h2>
      <fieldset disabled>
        <div class=" form-floating mb-3">
          <input type="text" id="disabledInput" formControlName="_id" class="form-control" placeholder="Disabled input" >
          <label for="disabledTextInput" class="form-label">ID del plato</label>
        </div>
      </fieldset>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" formControlName="name"  required id="floatingInput1">
        <label for="floatingInput">Nombre</label>
      </div>
      <div class="form-floating mb-3">
        <input type="number" class="form-control" formControlName="price" required id="floatingInput2">
        <label for="floatingInput">Precio</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" formControlName="category"  placeholder="Categoría" >
        <label for="floatingInput">Categoría</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" formControlName="ingredients"  placeholder="Ingredientes" >
        <label for="floatingInput">Ingredites</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" formControlName="vegetarian"  placeholder="vegetariano" >
        <label for="floatingInput">Vegetariano</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" formControlName="image" placeholder="imagen" >
        <label for="floatingInput">Imagen</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" formControlName="restaurant"  placeholder="restautante" >
        <label for="floatingInput">restaurante</label>
      </div>

      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="submit" class="btn btn-warning">Editar producto</button>
        <button class="btn btn-dark">
          Cancelar
        </button>
      </div>
  </form>

</div>

