<mat-toolbar class="footer">
 <div class="logo">
    <img src="assets/images/digini_logo.png" alt="Logo Digini">
  </div>
  <div class="copy">
    <span>&copy; Copyright 2023, Digini Corporation</span>
  </div>
  <div class="redes">
    <a href="https://www.instagram.com/digini/" target="_blank"><img src="assets/images/instagram.png" alt="Logo Instagram"></a>
    <a href="https://www.facebook.com/digini/" target="_blank"><img src="assets/images/facebook.png" alt="Logo Facebook"></a>
  </div>
</mat-toolbar>
