.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 0 20px;
  height: 50px; /* Establecer la altura del footer en 50px */

  /* Los estilos para .logo, .copy y .redes permanecen igual */
  .logo {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
  }

  .copy {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    height: 100%; /* Establecer la altura en 100% para que ocupe toda la altura del footer */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .redes {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%; /* Establecer la altura en 100% para que ocupe toda la altura del footer */

    a {
      margin-left: 10px;
    }

    img {
      width: 25px;
      height: 25px;
    }
  }
}

.mat-toolbar {
  background-color: transparent; /* Establecer el fondo transparente para evitar que se duplique el color de fondo */
  height: auto; /* Eliminar la altura fija para que se adapte automáticamente */
  margin-top: auto; /* Alinear el footer en la parte inferior */
}
